<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NGE_ANIMA_GAME_TOOLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NGE_ANIMA_GAME_TOOLS.Properties.Settings>
            <setting name="main_folder" serializeAs="String">
                <value>C:\Program Files (x86)\GAINAX\IRONMAIDEN2\</value>
            </setting>
            <setting name="run_game_exe" serializeAs="String">
                <value>C:\Program Files (x86)\GAINAX\IRONMAIDEN2\exe\00test03-latin.exe.lnk</value>
            </setting>
            <setting name="goslb5un1" serializeAs="String">
                <value>C:\Program Files (x86)\GAINAX\IRONMAIDEN2\goslb5un1.exe.lnk</value>
            </setting>
            <setting name="goslb5pk1" serializeAs="String">
                <value>C:\Program Files (x86)\GAINAX\IRONMAIDEN2\goslb5pk1.exe.lnk</value>
            </setting>
            <setting name="gosbp3un1" serializeAs="String">
                <value>C:\Program Files (x86)\GAINAX\IRONMAIDEN2\gosbp3un1.exe.lnk</value>
            </setting>
            <setting name="gosbp3pk1" serializeAs="String">
                <value>C:\Program Files (x86)\GAINAX\IRONMAIDEN2\gosbp3pk1.exe.lnk</value>
            </setting>
            <setting name="gostx31" serializeAs="String">
                <value>C:\Program Files (x86)\GAINAX\IRONMAIDEN2\gostx31.exe.lnk</value>
            </setting>
        </NGE_ANIMA_GAME_TOOLS.Properties.Settings>
    </userSettings>
</configuration>